.card {
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card .fa-2x {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px;
}

.card .card-body {
  display: flex;
  align-items: center;
}

.card-body .card-title {
  font-size: 1.5rem;
}

.card-body .card-text {
  font-size: 2rem;
}

.card-body small {
  font-size: 0.85rem;
}